* {
  font-family: "Sarabun", sans-serif;
  margin: 0;
  padding: 0;
  color: $primary;
}

body,
html {
  background: $white;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  transition: $transition;
}

section,
div {
  position: relative;
}